.tertiary-navigation {
    padding-top: 10px;

    &.full-width-bottom-border {
        width: calc(100% + 1rem + 30px);
        margin-left: calc(-0.5rem - 15px);
        margin-right: calc(-0.5rem - 15px);
        border-bottom: 1px solid $gray-300;
        margin-bottom: 25px;

        @include media-breakpoint-down(sm) {
            width: calc(100% + 1rem);
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        .row {
            margin: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    .navitem,
    .navitem-divider {
        display: flex;
        margin-bottom: 25px;
        margin-right: 20px;
    }

    .navitem-divider {
        width: 1px;
        background-color: $gray-300;
        height: 40px;
    }

    & > a.btn,
    & > div.urlselect {
        margin-bottom: 25px;
    }

    .row {
        column-gap: 20px;
    }

    .tertiary-navigation-selector {
        .dropdown-toggle {
            padding: 0;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    .navitem-area {
        display: flex;
        flex-wrap: wrap;
    }

    .tertiary-navigation-toggle {
        float: right;
    }

    .page-toggler {
        display: flex;
        white-space: nowrap;
    }

    .btn {
        & > div {
            max-width: 250px;

            & > div,
            span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .tertiary-navigation {
        .tertiary-navigation-row-divider {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) {
    .tertiary-navigation {
        .float-right .navitem-divider:is(:last-child) {
            display: none;
        }
        .navitem-bulk-actions {
            margin-top: 10px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .tertiary-navigation {
        .mform {
            padding-left: initial;
        }
    }
}

@include media-breakpoint-down(xs) {
    .tertiary-navigation {
        .tertiary-navigation-toggle {
            float: left;

            .page-toggler {
                display: block;

                p {
                    font-size: 80%;
                    font-weight: 400;
                }
            }
        }

        .navitem-divider {
            display: none;
        }
    }
}

@media print {
    .tertiary-navigation {
        display: none;
    }
}
